@model IEnumerable<EndToEnd.Models.ActiveDirectoryDetail>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Datasource List</h2>

<div class="div-backtolist">
    @Html.ActionLink("Create New", "Create")
</div>
<table class="table">

    <tr>
        <th>
            @Html.DisplayName("IP Address")
        </th>
        <th>
            @Html.DisplayName("Domain Name")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Active Directory Username")
        </th>
        <th>
            @Html.DisplayName("Active Directory Password")
        </th>
        <th>
            @Html.DisplayName("Options")
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DomainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADPassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>

<script>
    $(document).ready(function () {
        $("#useradmin").addClass("selected");
    });
</script>