@model PagedList.IPagedList<EndToEnd.Models.ControlDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Search"))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Search", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="search" name="searchString" value="@ViewBag.searchString" class="form-control" />
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Description
        </th>
        <th>Status</th>
        <th>Datasource Type</th>
        <th>Created Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        </tr>
    }


</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new
    {
        page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter
    }))
<hr />

<script>
    $(document).ready(function () {
        $("#dashboard").addClass("selected");
        $("#dashboard img").prop("src", "/Images/dashboard1.png");

    });
</script>